# Example environment variables
SECRET_KEY=dev-secret
DEBUG=False
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjQwYTY5MjgwYTgxODQ3YzU4ZTI0ZmNhNWIwODYwYmRjIiwiaCI6Im11cm11cjY0In0=
DATABASE_URL=sqlite:///db.sqlite3
